label {margin-left: 3px; margin-right: 3px; padding-left: 1px; padding-right: 1px;}
header {margin-top: 5px; margin-bottom: 5px;}

.region { color: red; font-size: 14pt;}
.stratège {font-weight: bold;}
#titre {font-size: 16pt;}
#échelle {font-size: 12pt;}
#nbJoueurs {background-color: red;}
#labeljour, #numéroJour {font-weight: bold; font-size: 16pt}
#titrePhase {font-weight: bold; font-size: 14pt}
.curseur {visibility: hidden;}
#troupesEnMarche {margin-top: 10px; margin-bottom: 10px; border: 2px solid black;}
#tooltip {background-color: yellow; position: absolute; z-index: 100; font-size: 14pt; opacity: 0}
#règles, #explicationsCombats, #explicationsDéplacements, #explicationsBogues {padding-left: 5px; width: 1000px; background-color: yellow; font-size: 8pt; position: absolute; top: 0; left: 0; z-index: 100; font-size: 14pt; visibility: hidden;}
#explicationRevenus, #explicationEnrôlement, #explicationDéplacementTroupesLocales, #explicationDéplacementStratège, #explicationCombats {display: none;}

#déplacementSélectionné, #annulation, #confirmation {display: none;}
#sélectionHoplite {display: block;}
#sélectionArrivée {display: none;}