body {
    background-color: #adb5bd;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*----------Boutons----------*/

.buttonretro {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;

}

.buttonretro:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}

/* From Uiverse.io by SelfMadeSystem */
.buttonblack {
    position: relative;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
    color: #fff;
    text-shadow: 1px 1px #000;
    box-shadow:
        inset 0px 4px 4px -3px #fff0,
        inset 0px -3px 4px -3px #fff;
    background: linear-gradient(#3e3939, #423f3f 50%, #000 50%);
    isolation: isolate;
    transition:
        0.25s all,
        0.1s background-position;
}

.buttonblack::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: radial-gradient(circle at 50% 150%, #969797, #0000 50%);
    background-size: 300% 50%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: inherit;
}

.buttonblack::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: radial-gradient(circle at 50% 320%, #969797, #0000 50%);
    background-size: 300% 50%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: inherit;
}

.buttonblack:hover {
    box-shadow:
        inset 0px 4px 4px -3px #fff5,
        inset 0px -3px 4px -3px #fff;
}

.buttonblack:hover::before,
.buttonblack:hover::after {
    opacity: 1;
}

.buttonblack:active::before,
.buttonblack:active::after {
    opacity: 0;
}

.buttonblack:active {
    box-shadow:
        inset 0px 4px 4px -3px #000,
        inset 0px -4px 4px -3px #000c,
        inset 0px 0px 24px -3px #000a;
    background-position: 1px 1px;
}

.buttonblack div {
    transition: 0.1s translate;
}

.buttonblack:active div {
    translate: 1px 1px;
}

.buttonblack {
    margin: 0 10px;
}


/*----------Damier/Plateau/----------*/

.damier {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95%;
    overflow: scroll;
    z-index: 0;
}

#jeu {
    width: 2229px;
    height: 1440px;
    margin-top: -24px;
    margin-left: -40px;
}

#jeuprev {
    width: 2230px;
    height: 1440px;
    margin-top: -24px;
    margin-left: -40px;
}

/*----------Composants hauts----------*/

.haut {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: #000;
    z-index: 1;
    color: wheat;
    padding: 0 40px;
    box-sizing: border-box;
}

.ressources {
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.ressources img {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

#nomPartie {
    font-size: xx-large;
    margin-right: auto;
}

/*----------Page d'accueil + vues----------*/

.accueil {
    background-color: #9f9f9f;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    color: #000000;
}

.partie {
    background-color: #adb5bd;
    width: 100vw;
    height: 100vh;
    display: none
}

.rejoindrePartie {
    background-color: #adb5bd;
    width: 100vw;
    height: 100vh;
    display: none
}

#titreP2 {
    font-size: 6vh;
    color: #000000;
    text-align: center;
    margin-bottom: 3vh;
    text-shadow: 1px 1px 2px #000;
}

#titreP2-2 {
    font-size: 3.5vh;
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}


#form2 {
    background-color: #767474;
    border: solid #444 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#form2 label {
    font-size: 3.5vh;
    color: #000000;
}

#form2 select {
    background-color: #b5b4b4;
    color: #000000;
    border: solid #555 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 2.5vh;
    width: 100%;
}

#form2 input[type="number"] {
    background-color: #b5b4b4;
    color: #000000;
    border: solid #555 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 2.5vh;
    width: 100%;
}

#form2 button {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

#form2 button:hover {
    background-color: #5a5a5a;
    transform: scale(1.1);
}



/* Tableau */

#divListeJoueurs {
    overflow-y: auto;
    border: 2px solid #403f3f;
    background-color: #5a5a5a;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
}


#listeJoueurs {
    width: 100%;
}

#listeJoueurs th {
    background-color: #c0bfbf;
    color: #000000;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 2px solid #444;
    position: static;
    top: 0;
    z-index: 1;
}


#listeJoueurs td {
    padding: 10px 15px;
    border-bottom: 1px solid #000000;
    text-align: left;
}



#listeJoueurs tr:nth-child(even) {
    background-color: #b7b5b5;
}

#listeJoueurs tr:nth-child(odd) {
    background-color: #727070;
}

#listeJoueurs tr:hover {
    background-color: #979494;
}

#listeJoueurs td:last-child {
    text-align: center;
}

.btn-rejoindre {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

.btn-rejoindre:hover {
    background-color: #5a5a5a;
    transform: scale(1.1);
    cursor: pointer;
}

button:hover {

    cursor: pointer;
}

#creerPartie {
    justify-self: center;
    align-self: center;
}

.radioInput {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

/* Jeu */

.ouvrier{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
}

.txtchamp{
    text-align: center;
    right: 0;
    position: absolute;
    bottom: 0;
}

#vueInfoHdv,
#vueForge,
#vueChamp,
#vueMine {
    color: wheat;
    display: none;
    height: 500px;
    width: 700px;
    background-color: #000000e3;
    position: fixed;
    left: 30%;
    top: 25%;
    z-index: 4;
    border: 4px double #212529;
    overflow: auto;
}

#vueChamp p {
    text-align: center;
    margin: 0;
}



#vueMine p {
    text-align: center;
    margin: 0;
}

.hautvue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
    color: wheat;
    box-sizing: border-box;
    border: 4px double #212529;
    position: sticky;
}

.hautvue button {
    margin-left: auto;
}

#vueBatiments {
    cursor: grab;
    background-color: #000000e3;
    position: fixed;
    left: 80%;
    top: 10%;
    display: flex;
    overflow-y: auto;
    width: 300px;
    height: 120px;
    z-index: 5000;
}

#vueBatiments img {
    cursor: pointer;
    margin-top: 20px;
    height: 92px;
    width: 75px;
    border: 4px double #212529;
}

.batiments {
    border: 4px double #212529;
}

#statsUnite {
    color: wheat;
    position: fixed;
    background-color: #000000e3;
    cursor: grab;
    left: 80%;
    top: 25%;
    display: flex;
    overflow: auto;
    height: 120px;
    width: 300px;
    z-index: 5000;
}

#statsUnite img {
    cursor: pointer;
    height: 110px;
    width: 75px;
    border: 4px double #212529;
}

#unitStats {
    margin-left: 5%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#unitStats p {
    width: 100%;
    margin: 0px;
}

#vueDialogue {
    display: none;
}

/* Prev */

.dialoguebox {
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.750);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dialoguebox img {
    height: 750px;
}

#textedialogue {
    position: fixed;
    display: flex;
    align-items: center;
    left: 35%;
    color: wheat;
    font-size: 18px;
    text-align: center;
}

.choixdialogue {
    margin-left: 25%;
}

.choixdialogue p:hover {
    cursor: pointer;
    user-select: none;
    color: green;
}

#usernameInput {
    max-width: 10%;
}

.inputblack {
    margin: 30px;
    background: #262525;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
}

#afficherNotif{
    all:unset;
    cursor: pointer;
    font-size: 25px;
}

#vueNotifications{
    display: none;
    position: fixed;
    min-height: 100px;
    width: 100px;
    
    top : 50px;
    left : 10px;
    background-color: greenyellow;
    
}

.notifications{
    cursor: pointer;
}

#notificationDetail{
    display: none;
    position: fixed;

    /* top : 150px;
    left: 150px; */

    /* height: 1000px;
    width: 1000px; */

    /* background-color: yellow; */

}


#notificationDetail * {
    display: none;
    position: fixed;

    color: inherit;
    font-size: inherit;

    /* top: 20%;
    left: 20%; */

    height: 100px;
    width: 100px;
    background-color: greenyellow;
}


#vueDiplomatie,#vueEspionnage,#vueEspions{
    display: none;
}

#envoyerMail,#contenuMail{
    z-index: 6;
}