body {
    background-color: #adb5bd;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*----------Boutons----------*/

.buttonretro {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;

}

.buttonretro:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}


/*----------Damier/Plateau/Mini----------*/

.damier {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95%;
    overflow: scroll;
    z-index: 0;
}

#jeu {
    width: 2229px;
    height: 1440px;
    margin-top: -24px;
    margin-left: -40px;
}

#jeuprev {
    width: 2230px;
    height: 1440px;
    margin-top: -24px;
    margin-left: -40px;
}

/*----------Composants droit----------*/

.droite {
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c757d;
    border: 4px solid #212529;
    z-index: 2;
}

.bouton1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 10%;
    bottom: 0;
    margin-bottom: 2vh;
}

/*----------Composants hauts----------*/

.haut {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: #000;
    z-index: 1;
    color: wheat;
}

.ressources {
    display: flex;
    gap: 15px;
    margin-right: 65%;
}

.ressources img {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.buttonblack {
    margin: 0 10px;
}

#nomPartie {
    font-size: xx-large;
    margin-right: 60%;
}

/*----------Page d'accueil + vues----------*/

.accueil {
    background-color: #9f9f9f;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    color: #000000;
}

.partie {
    background-color: #adb5bd;
    width: 100vw;
    height: 100vh;
    display: none
}

.rejoindrePartie {
    background-color: #adb5bd;
    width: 100vw;
    height: 100vh;
    display: none
}



#titreP2 {
    font-size: 6vh;
    color: #000000;
    text-align: center;
    margin-bottom: 3vh;
    text-shadow: 1px 1px 2px #000;
}

#titreP2-2 {
    font-size: 3.5vh;
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}


#form2 {
    background-color: #767474;
    border: solid #444 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#form2 label {
    font-size: 3.5vh;
    color: #000000;
}

#form2 select {
    background-color: #b5b4b4;
    color: #000000;
    border: solid #555 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 2.5vh;
    width: 100%;
}

#form2 input[type="number"] {
    background-color: #b5b4b4;
    color: #000000;
    border: solid #555 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 2.5vh;
    width: 100%;
}



#form2 button {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

#form2 button:hover {
    background-color: #5a5a5a;
    transform: scale(1.1);
}



/* tableau */

#divListeJoueurs {
    overflow-y: auto;
    border: 2px solid #403f3f;
    background-color: #5a5a5a;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
}


#listeJoueurs {
    width: 100%;
}

#listeJoueurs th {
    background-color: #c0bfbf;
    color: #000000;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 2px solid #444;
    position: static;
    top: 0;
    z-index: 1;
}


#listeJoueurs td {
    padding: 10px 15px;
    border-bottom: 1px solid #000000;
    text-align: left;
}



#listeJoueurs tr:nth-child(even) {
    background-color: #b7b5b5;
    /* Fond pour les lignes paires */
}

#listeJoueurs tr:nth-child(odd) {
    background-color: #727070;
    /* Fond pour les lignes impaires */
}

/* Effet au survol */
#listeJoueurs tr:hover {
    background-color: #979494;
    /* Fond plus clair lors du survol */
}

/* Style spécifique pour le bouton "Rejoindre" */
#listeJoueurs td:last-child {
    text-align: center;
}

.btn-rejoindre {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

.btn-rejoindre:hover {
    background-color: #5a5a5a;
    transform: scale(1.1);
    cursor: pointer;
}

button:hover {

    cursor: pointer;
}

#creerPartie {
    justify-self: center;
    align-self: center;
}

.radioInput {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

.fieldMoche {
    border: none;
}

#droiteAll {
    align-items: center;
    justify-content: center;
}

/* Fleches */

.direction1,
.direction2 {
    position: fixed;
    left: 90%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(-50%, -50%);
}

.direction1 {
    width: 15%;
    height: 10%;
    top: 20%;
    z-index: 20;
    pointer-events: auto;
}

.direction2 {
    width: 10%;
    height: 30%;
    flex-direction: column;
    z-index: 10;
    pointer-events: auto;
}

#vueInfoHdv {
    display: none;
    height: 350px;
    width: 350px;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    top: 81px;
    z-index: 4;
}

#vueBatiments {
    cursor: grab;
    background-color: #000;
    position: fixed;
    left: 80%;
    top: 10%;
    display: flex;
    overflow-y: auto;
    width: 15%;
    height: 120px;
    z-index: 5000;
}

#vueBatiments img {
    cursor: pointer;
    margin-top: 20px;
    background-color: #000;
    height: 92px;
    width: 75px;
    border: 4px double #212529;
}

.batiments {
    background-color: #000;
    border: 4px double #212529;
}

#statsUnite {
    color: wheat;
    position: fixed;
    background-color: #000;
    cursor: grab;
    left: 80%;
    top: 25%;
    display: flex;
    overflow: auto;
    height: 120px;
    width: 15%;
    z-index: 5000;
}

#statsUnite img {
    cursor: pointer;
    background-color: #000;
    height: 92px;
    width: 75px;
    border: 4px double #212529;
    margin-top: 20px;
}

#unitStats {
    margin-top: 20px;
    margin-left: 5%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 92px;
    width: 100%;
}

#unitStats p {
    width: 100%;
    margin: 0px;
}

#vueFin {
    display: none;
    height: 350px;
    width: 350px;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}

/* From Uiverse.io by SelfMadeSystem */
.buttonblack {
    position: relative;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
    color: #fff;
    text-shadow: 1px 1px #000;
    box-shadow:
        inset 0px 4px 4px -3px #fff0,
        inset 0px -3px 4px -3px #fff;
    background: linear-gradient(#3e3939, #423f3f 50%, #000 50%);
    isolation: isolate;
    transition:
        0.25s all,
        0.1s background-position;
}

.buttonblack::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: radial-gradient(circle at 50% 150%, #969797, #0000 50%);
    background-size: 300% 50%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: inherit;
}

.buttonblack::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: radial-gradient(circle at 50% 320%, #969797, #0000 50%);
    background-size: 300% 50%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: inherit;
}

.buttonblack:hover {
    box-shadow:
        inset 0px 4px 4px -3px #fff5,
        inset 0px -3px 4px -3px #fff;
}

.buttonblack:hover::before,
.buttonblack:hover::after {
    opacity: 1;
}

.buttonblack:active::before,
.buttonblack:active::after {
    opacity: 0;
}

.buttonblack:active {
    box-shadow:
        inset 0px 4px 4px -3px #000,
        inset 0px -4px 4px -3px #000c,
        inset 0px 0px 24px -3px #000a;
    background-position: 1px 1px;
}

.buttonblack div {
    transition: 0.1s translate;
}

.buttonblack:active div {
    translate: 1px 1px;
}

.dialoguebox {
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.750);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dialoguebox img {
    height: 750px;
}

#textedialogue {
    position: fixed;
    display: flex;
    align-items: center;
    left: 35%;
    color: wheat;
    font-size: 18px;
    text-align: center;
}

.choixdialogue {
    margin-left: 25%;
}

.choixdialogue p:hover {
    cursor: pointer;
    user-select: none;
    color: green;
}

#usernameInput {
    max-width: 10%;
}

.inputblack {
    margin: 30px;
    background: #262525;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
}