#flexEchange{
    display: flex;
    flex-wrap: wrap;

    
    height: 450px;
   
    flex-direction: column;
}

#vueEspions *,#vueDiplomatie *  {
    max-width: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.echange-colonne{
    gap: 3px;
}

.echange-colonne label {
    margin-top: 7px; 
}

#bouttonEchange{
    margin-top: 4px;
}


#flexDiplomatie{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

#choisirMap * {
    text-align: center;
}

#vueEspions label {
    display: inline-block;
    width: 150px; /* Adjust the width as needed */
}


#choisirEntrepot { 
    min-height: 150px;
}